header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100%;
  height: 70px;
  min-width: 320px;
  z-index: 10;
  transition: 1s ease-out;
}

.logo {
  float: left;
  height: 50px;
  position: relative;
  width: 150px;
  z-index: 99;
}

.logo img {
  width: auto;
  height: 50px;
}

img {
  max-width: 100%;
}

.menus {
  float: right;
  height: 50px;
}

.menus nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
  text-align: right;
}

.menus ul li {
  display: inline-block;
  margin: 0 18px;
}

.sticky {
  background: #47A897;
  transition: 1s ease-out;
}

.black-nav a {
  color: #47A897;
}