body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #6b7c93;
  background: #fff;
  font-family: 'Source Sans Pro',
    arial,
    helvetica,
    sans-serif;
}

.container {
  margin: 0 auto;
  max-width: 1140px;
  position: relative;
  width: 85%;
}

a {
  text-decoration: none;
  color: #00ab6b;
}

ol,
ul {
  list-style: none;
}